/* stylesheet.css 2008/04/22 nicolekonicki */

/*
 *
 * Spring-specific Javadoc style sheet
 *
 */



.code 
{
	border: 1px solid black;
	background-color: #F4F4F4;
	padding: 5px;
}

body 
{
	font: 12px Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	background-color: #fff;
	color: #333;
}


/* Link colors */
a 
{
	color:#2c7b14;
	text-decoration:none; 
}

a:hover 
{
	text-decoration:underline;
}

/* Headings */
h1 
{ 
	font-size:28px;
	color:#007c00; 
}

/* Table colors */

table
{
	border:none;
}

td
{
	border:none;
	border-bottom:1px dotted #ddd;
}

th
{
	border:none;
}

.TableHeadingColor th
{
	background-color: #efffcb;
	background-image: url(doc-files/th-background.png);
	background-repeat: repeat-x;
	color:#fff;
	font-size:14px;
	height:26px;
}

.TableSubHeadingColor  
{ 
	background: #f7ffee;

} 
.TableRowColor         
{ 
	background: #fff;
}

.TableRowColor a      
{ 
	border-bottom:none;
	color:#2c7b14;
	font-weight:normal;
}

tr.TableRowColor:hover
{
	background:#eef2e1;
}

 
/* Font used in left-hand frame lists */
.FrameTitleFont   
{ 
	font-size: 120%; 
	font-weight:bold;
}

.FrameTitleFont a   
{  
	color: #333;
}

.FrameHeadingFont 
{ 
	font-weight: bold;
	font-size:95%;
}

.FrameItemFont    
{ 
	line-height:130%;
	font-size: 95%; 
}

.FrameItemFont a
{
	color:#333;
}

.FrameItemFont a:hover
{
	color:#249901;
	border-bottom:none;
	text-decoration:underline;
}

/* Navigation bar fonts and colors */
.NavBarCell1    
{ 
	background-color:#fff;
	border:none;
} 

.NavBarCell1Rev 
{ 
	background-color:#e3faa5;
	border:1px solid #9ad00c;
	padding:0;
	margin:0;
} 

.NavBarCell1 a  
{ 
	color:#333;
	text-decoration:none;
}

.NavBarFont1Rev 
{ 

}

.NavBarCell2
{
	border:none;
}

.NavBarCell2 a    
{ 
	color:#249901;
	font-size:90%;
}

.NavBarCell3    
{ 
	border:none;
}

/* Override sizes in font tags */
font
{
	font: inherit !important;
}
